<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="CLICK_EVENT_LOG_PATH" value="${CLICK_EVENT_LOG_PATH:-logs/click-events/click-events.log}"/>

    <appender name="CLICK_EVENT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CLICK_EVENT_LOG_PATH}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${CLICK_EVENT_LOG_PATH}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLICK_EVENT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CLICK_EVENT_FILE"/>
    </appender>

    <logger name="click.event" level="INFO" additivity="false">
        <appender-ref ref="CLICK_EVENT_ASYNC"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
